In [2]:
pip install pyexcel_xlsx

Collecting pyexcel_xlsxNote: you may need to restart the kernel to use updated packages.

  Downloading pyexcel_xlsx-0.6.0-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: openpyxl>=2.6.1 in c:\users\anju singh\anaconda3\python\lib\site-packages (from pyexcel_xlsx) (3.0.10)
Collecting pyexcel-io>=0.6.2 (from pyexcel_xlsx)
  Downloading pyexcel_io-0.6.6-py2.py3-none-any.whl (44 kB)
     ---------------------------------------- 0.0/44.2 kB ? eta -:--:--
     --------- ------------------------------ 10.2/44.2 kB ? eta -:--:--
     ----------------------------------- -- 41.0/44.2 kB 487.6 kB/s eta 0:00:01
     -------------------------------------- 44.2/44.2 kB 429.8 kB/s eta 0:00:00
Requirement already satisfied: et_xmlfile in c:\users\anju singh\anaconda3\python\lib\site-packages (from openpyxl>=2.6.1->pyexcel_xlsx) (1.1.0)
Collecting lml>=0.0.4 (from pyexcel-io>=0.6.2->pyexcel_xlsx)
  Downloading lml-0.1.0-py2.py3-none-any.whl (10 kB)
Installing collected packages: lml, pyexcel-io, pyexcel_xlsx
Successfully installed lml-0.1.0 pyexcel-io-0.6.6 pyexcel_xlsx-0.6.0

In [6]:
import pandas as pd
import numpy as np
from sklearn import linear_model
df = pd.read_excel("Price.xlsx")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  560000
2  3200       NaN   18  610000
3  3600       3.0   30  596000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [10]:
import math 
berooms_median = math.floor(df.bedrooms.median())
berooms_median

4

In [15]:
df.bedrooms = df.bedrooms.fillna(berooms_median)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  560000
2  3200       4.0   18  610000
3  3600       3.0   30  596000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [17]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [18]:
reg.predict([[5000,4,20]])

C:\Users\Anju Singh\anaconda3\python\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([814653.96379455])

In [19]:
reg.coef_

array([  114.8705168 , 22614.49577452, -3177.69671704])

In [20]:
reg.intercept_

213397.33103745186

In [21]:
114.8705168*5000+22614.49577452*4+-3177.69671704*20+213397.33103745186

814653.9637947319